.row-custom{
   
  @mixin clearfix;

  &--t-padding{
    padding-top: 80px;
  }
  &--gutters{
      margin-right: -65px;
  }
  &--gutters-small{
    margin-right: 0px;
}

  &--gutters-large{
    margin-right: 0;
  }

  &--gutters>div{
      padding-right: 0;
     
      @mixin atLarge{   
        padding-right: 65px;
      }
  }

  &__gutters-large>div{
    padding-right: 100px;
}
&__gutters-small>div{
  padding-right: 45px;
}

  &__b-margin-until-medium{
    margin-bottom:1rem;

  }

  @mixin atMedium{

    &__b-margin-until-medium{
      margin-bottom: 0;
    }
   
  }

  @mixin atLarge{
    
        &__b-margin-until-large{
          margin-bottom: 0;
        }
    
        &__large-4 {
          align-items: flex-start;
          float:left;
          width:33.33%;
      }

     
      }  
 
  
  /* Begin Equal Height Rules */

  &--equal-height-at-medium{
     @mixin atMedium{
       @mixin atMedium{
       display: flex;
       }

       & > div{
         float:none;
         display: flex;
       }
     }
    }

     &--equal-height-at-large{
      @mixin atLarge{
        @mixin atLarge{
        display: flex;
        }
 
        & > div{
          float:none;
          display: flex;
        }
      }   
  }

  
}
